In [131]:
import pandas as pd
import numpy as np
import os
clean = pd.read_csv('train.csv')
print(clean.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
clean.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [3]:
clean.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
print(clean.Survived.value_counts()*100/clean.shape[0])

0    61.616162
1    38.383838
Name: Survived, dtype: float64

In [8]:
from sklearn.impute import SimpleImputer
imp_median = SimpleImputer(missing_values=np.nan, strategy='median')

In [9]:
clean['Age'] = imp_median.fit_transform(clean['Age'].values.reshape(-1,1))

In [10]:
clean.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [132]:
clean = clean.dropna()

In [133]:
clean.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [136]:
clean = clean.drop(['PassengerId','Name','Ticket'], axis=1)
clean.columns

Index([u'Survived', u'Pclass', u'Sex', u'Age', u'SibSp', u'Parch', u'Fare',
       u'Cabin', u'Embarked'],
      dtype='object')

In [137]:
X_clean = clean.drop('Survived',axis=1)
print(X_clean.head())

    Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
1        1  female  38.0      1      0  71.2833   C85        C
3        1  female  35.0      1      0  53.1000  C123        S
6        1    male  54.0      0      0  51.8625   E46        S
10       3  female   4.0      1      1  16.7000    G6        S
11       1  female  58.0      0      0  26.5500  C103        S

In [207]:
y_clean = clean['Survived']
print(X_clean.shape)
print(y_clean.shape)

(183, 8)
(183L,)

In [140]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X_clean["Sex"] = le.fit_transform(X_clean["Sex"])
X_clean["Embarked"] = le.fit_transform(X_clean["Embarked"])
X_clean["Cabin"] = le.fit_transform(X_clean["Cabin"])
print(X_clean.head())

    Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
1        1    0  38.0      1      0  71.2833     72         0
3        1    0  35.0      1      0  53.1000     48         2
6        1    1  54.0      0      0  51.8625    117         2
10       3    0   4.0      1      1  16.7000    131         2
11       1    0  58.0      0      0  26.5500     43         2

In [166]:
noclean = pd.read_csv('test.csv')
print(noclean.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [167]:
noclean.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [169]:
noclean['Age'] = imp_median.fit_transform(noclean['Age'].values.reshape(-1,1))
noclean.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [170]:
noclean['Fare'].median()

14.4542

In [171]:
noclean['Fare'].fillna(value=15,inplace=True)

In [186]:
X_noclean=noclean.dropna()

In [187]:
X_noclean.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [189]:
print(X_noclean.head())

    Pclass     Sex   Age  SibSp  Parch      Fare            Cabin Embarked
12       1  female  23.0      1      0   82.2667              B45        S
14       1  female  47.0      1      0   61.1750              E31        S
24       1  female  48.0      1      3  262.3750  B57 B59 B63 B66        C
26       1  female  22.0      0      1   61.9792              B36        C
28       1    male  41.0      0      0   30.5000              A21        S

In [221]:
X_noclean["Sex"] = le.fit_transform(X_noclean["Sex"])
X_noclean["Embarked"] = le.fit_transform(X_noclean["Embarked"])
X_noclean["Cabin"] = le.fit_transform(X_noclean["Cabin"])
print(X_noclean.shape)

(91, 8)

In [194]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(X_clean, y_clean)

GaussianNB(priors=None, var_smoothing=1e-09)

In [222]:
from sklearn import metrics
y_noclean = gnb.predict(X_noclean)
print(y_noclean)

[1 1 1 1 0 1 0 1 0 1 0 1 0 1 1 0 1 0 1 1 1 0 1 1 1 0 1 1 1 0 1 0 1 0 1 1 0
 0 0 1 1 1 1 1 1 1 1 0 1 1 0 0 1 1 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0 1 1
 0 1 1 1 0 1 0 0 1 1 1 1 0 0 1 1 1]